<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <!-- Add common CSS, meta tags, etc. -->
  </head>
  <body>
    <header>
      <!-- Common header content -->
      <h1>Truehook App</h1>
    </header>

    <main>
      {{{ body }}} <!-- This is where child views will be injected -->
    </main>

    <footer>
      <!-- Common footer content -->
      <p>&copy; Truehook</p>
    </footer>

    <!-- Add common JavaScript, scripts, etc. -->
  </body>
</html>
