<!-- register.hbs -->

<!DOCTYPE html>
<html>

<head>
  <title>Create Provider</title>
</head>

<body>
  <h1>Create Provider</h1>

  <form action="/providers" method="POST">
    <label for="identifier">Identifier:</label>
    <input type="input" id="identifier" name="identifier" required><br><br>

    <input type="submit" value="Create Provider">
  </form>
</body>

</html>

